/* #journey{
    background-image: url(https://th.bing.com/th/id/OIP.HQITBh60XUWqbz1E2E7hZQAAAA?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */